my-shop.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Esta es el panel de credimutos smartPhone"/>
    <meta name="author" content="Crediminuto SmartPhone"/>
    <title>DashBoard Crediminuto SmartPhone</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/dashboard/"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>
    <link rel="stylesheet" href="css/select2-bootstrap.css"/>
    <link rel="stylesheet" href="css/mdb.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="fonts-icons/css/crediminutos.css"/>
    <link rel="stylesheet" href="fonts-icons/cm-smartphone.css"/>
  </head>
  <body id="body">
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header"> <img src="img/logo.svg" alt=""/></div>
        <div class="d-block d-md-none border-bottom py-3">
          <div class="d-flex"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu&amp;rounded=true&amp;background=a0a0a0&amp;color=ffffff" alt=""/></div>
          <div class="my-auto ml-3">
            <p class="mb-0">Miguel Gorostarzu</p><a href="#" style="text-decoration: underline;">Cerrar sesion</a>
          </div>
        </div>
        <ul class="components">
          <li class="nav-item active"> <a class="nav-link" href="home.html"><i class="cm-casa font23-px"></i>Inicio <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="my-shop.html"><i class="cm-empresa font20-px"></i>Perfil de la tienda</a></li>
          <li class="nav-item"> <a class="nav-link" href="user-self.html"><i class="cm-agregar-usuario font23-px"></i>Pefil de usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="requests.html"><i class="cm-agregar-carro font23-px"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Solicitudes</a></li>
          <li class="nav-item"><a class="nav-link" href="reports.html"><i class="cm-reportes font23-px"></i>Reportes</a></li>
        </ul>
        <ul class="border-top list-group d-block d-md-none pt-3">
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Contacto</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Preguntas Frecuentes</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Blog</a></li>
        </ul>
        <div class="d-flex d-md-none row mx-3 my-5 gris-suave" style="font-size: 27px;"><i class="fab fa-facebook-f col"></i><i class="fab fa-instagram col"></i><i class="fab fa-youtube col"></i><i class="fab fa-twitter col"></i><i class="fab fa-linkedin-in col"></i></div>
      </nav>
      <div class="mb-5 mb-md-0" id="content">
        <nav class="navbar navbar-light">
          <button class="navbar-btn" id="sidebarCollapse" type="button"><span></span><span></span><span></span></button>
          <div class="d-inline-block d-lg-none ml-auto"><img class="isologo" src="img/isologo.svg" alt=""/></div>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown mr-5 d-none d-sm-none d-md-block"><a class="nav-link dropdown-toggle fontcolor-name sidebarCollapseNoti" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chevron-down my-auto mr-2"></i>Miguel Gorostarzu</a></li>
            <li class="nav-item"><a class="sidebarCollapseNoti" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="top: 15px; right: 7px; position: absolute;">3</span></a></li>
          </ul>
        </nav>
        <div id="panel-content">
          <section>
            <div class="text-center">
              <h4>Mi tienda</h4>
            </div>
            <div class="col-md-10 col-11 mx-auto">
              <div class="border-bottom mt-5 mb-4 pb-3">
                <h6 class="text-primary">INFORMACIÓN DE LA TIENDA</h6>
              </div>
              <div class="row">
                <div class="col-md-4 col-12"><span class="font12-px text-black-50">Nombre de la tienda</span>
                  <p>Abasto</p>
                </div>
                <div class="col-md-4 col-12"><span class="font12-px text-black-50">NIT</span>
                  <p>1234567890</p>
                </div>
                <div class="col-md-4 col-12"><span class="font12-px text-black-50">Nro de teléfono</span>
                  <p>+51 123 4567890</p>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-11 mx-auto">
              <div class="border-bottom mt-5 mb-4 pb-3">
                <h6 class="text-primary">ADMINISTRADOR DE LA TIENDA</h6>
              </div>
              <div class="row">
                <div class="col-md-4 col-12"><span class="font12-px text-black-50">Nombre y apellido</span>
                  <p>Roberto Perez</p>
                </div>
                <div class="col-md-4 col-12"><span class="font12-px text-black-50">Email</span>
                  <p>robertoperez@gmail.com</p>
                </div>
                <div class="col-md-4 col-12"><span class="font12-px text-black-50">Teléfono</span>
                  <p>1234567890</p>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-11 mx-auto">
              <div class="border-bottom mt-5 mb-4 pb-3">
                <h6 class="text-primary">SUCURSALES</h6>
              </div>
              <table class="table table-borderless text-muted"> 
                <thead>
                  <tr>
                    <th><span class="font12-px text-black-50"> ID</span></th>
                    <th><span class="font12-px text-black-50"> Nombre de tienda</span></th>
                    <th><span class="font12-px text-black-50"></span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="py-2"> 01</td>
                    <td class="py-2"> Abasto</td>
                    <td class="py-2"><a class="text-primary" href="#">Más info </a></td>
                  </tr>
                  <tr>
                    <td class="py-2"> 02</td>
                    <td class="py-2"> Salta</td>
                    <td class="py-2"><a class="text-primary" href="#">Más info</a></td>
                  </tr>
                  <tr>
                    <td class="py-2"> 03</td>
                    <td class="py-2"> Florida 1100</td>
                    <td class="py-2"><a class="text-primary" href="#">Más info</a></td>
                  </tr>
                  <tr>
                    <td class="py-2"> 04</td>
                    <td class="py-2"> Coqui</td>
                    <td class="py-2"><a class="text-primary" href="#">Más info</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
    <nav id="sidebarNoti">
      <div class="sidebar-header">
        <ul class="nav ml-auto">
          <li class="nav-item ml-2 mr-5"><a class="mt-2" id="cerrar" href=""><i class="fal fa-times my-auto mr-2"></i>Miguel Gorostarzu</a></li>
          <li class="nav-item"><a id="cerrar" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="    margin-top: -1px;margin-left: -9px; position: absolute;">3</span></a></li>
        </ul>
      </div>
      <div class="d-none d-md-block" style="border-bottom: 1px solid #c0c1c9;">
        <div class="mt-4"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu%26rounded=true%26background=a0a0a0%26color=ffffff" alt=""/>
          <ul class="text-dark mt-3">
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Mi Perfil</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Cerrar sesión</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Contacto</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Preguntas frecuentes</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Blog</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom mb-0" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/check-verde-calendar.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-success" style="font-size: 15px;">Próximo vencimiento</h5><small>Estás próximo al venciemiento de la cuota 5 de tu préstamo, para pagar la misma hacé clic <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/error-rojo-calendario.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-primary" style="font-size: 15px;">Próximo bloqueo de celular</h5><small>Faltan 2 días para que bloqueemos tu celular por pagos pendientes. Más detalles <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
      </div>
    </nav><a class="botton-cm-hover" href="#"><i class="fal fa-plus"></i></a>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/mdb.js"></script>
    <script src="js/action-menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".mdb-select").materialSelect();
      });
    </script>
  </body>
</html>

pug-project/my-shop.pug
extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4 Mi tienda
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary INFORMACIÓN DE LA TIENDA
      .row
        .col-md-4.col-12
          span.font12-px.text-black-50 Nombre de la tienda
          p Abasto
        .col-md-4.col-12
          span.font12-px.text-black-50 NIT
          p 1234567890
        .col-md-4.col-12
          span.font12-px.text-black-50 Nro de teléfono
          p +51 123 4567890
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary ADMINISTRADOR DE LA TIENDA
      .row
        .col-md-4.col-12
          span.font12-px.text-black-50 Nombre y apellido
          p Roberto Perez
        .col-md-4.col-12
          span.font12-px.text-black-50 Email
          p robertoperez@gmail.com
        .col-md-4.col-12
          span.font12-px.text-black-50 Teléfono
          p 1234567890
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary SUCURSALES
      table.table.table-borderless.text-muted 
        thead
          tr
            th: span.font12-px.text-black-50  ID
            th: span.font12-px.text-black-50  Nombre de tienda
            th: span.font12-px.text-black-50
        tbody
          tr
            td.py-2  01
            td.py-2  Abasto
            td.py-2: a.text-primary(href="#") Más info 
          tr
            td.py-2  02
            td.py-2  Salta
            td.py-2: a.text-primary(href="#") Más info
          tr
            td.py-2  03
            td.py-2  Florida 1100
            td.py-2: a.text-primary(href="#") Más info
          tr
            td.py-2  04
            td.py-2  Coqui
            td.py-2: a.text-primary(href="#") Más info
block boton_hover
  include layouts/components/_botton-hover 
