pug-project/prestamo-state.pug
extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      i.cm-check.font42-px.mb-2
        span.path1
        span.path2
      h4 Solicitudes activa
    #accordionEx.accordion.md-accordion.mt-md-4(role='tablist' aria-multiselectable='true').col-md-10.mx-auto
      .card.px-0.d-md-flex
        // Card header
        #headingOne1.card-header(role='tab').d-flex
          a(data-toggle='collapse' data-parent='#accordionEx' href='#collapseOne1' aria-expanded='true' aria-controls='collapseOne1')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | ESTADO DEL PRÉSTAMO
          div.ml-auto
            a.link-table
              img(src='img/share.svg')
            a.mx-3.link-table
              img(src='img/print.svg')
            a.link-table.border-left.pl-3
              img(src='img/pago.svg')
        // Card body
        #collapseOne1.collapse.show.mt-md-3(role='tabpanel' aria-labelledby='headingOne1' data-parent='#accordionEx').border-top
          .card-body.px-0.pt-1
            .table-responsive-sm.col-12.px-0
              table.table.table-borderless.mx-auto.table-hover
                thead.border-bottom
                  tr.text-muted
                    th  CUOTA
                    th  VTO.
                    th  MONTO CUOTA
                    th  PENDIENTE
                    th  ESTADO
                tbody
                  tr.text-muted
                    td(scope='row') 1 / 6
                    td  12/04/21
                    td  $101.542
                    th  $0
                    td.text-success.d-flex.align-items-center
                      i.fas.fa-check-circle.font23-px
                      span.ml-2 Pagado
                  tr.text-muted
                    td(scope='row') 2 / 6
                    td  12/04/21
                    td  $101.542
                    th  $50.000
                    td.text-primary.d-flex.align-items-center
                      i.fas.fa-times-circle.font23-px
                      span.ml-2 Vencida
                  tr.text-muted
                    td(scope='row') 3 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
                  tr.text-muted
                    td(scope='row') 4 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
                  tr.text-muted
                    td(scope='row') 5 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
                  tr.text-muted
                    td(scope='row') 6 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
      .card.px-0
        // Card header
        #headingTwo2.card-header(role='tab')
          a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseTwo2' aria-expanded='false' aria-controls='collapseTwo2')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | INFORMACIÓN PERSONAL            
        // Card body
        #collapseTwo2.collapse.mt-md-3(role='tabpanel' aria-labelledby='headingTwo2' data-parent='#accordionEx').border-top
          .card-body.px-0.d-md-flex
            .col-md-4.col-12
              span.font12-px.text-black-50 Nombre y apellido
              p Miguel Gorostarzu
            .col-md-4.col-12
              span.font12-px.text-black-50 Cédula de ciudadanía
              p 1234567890
            .col-md-4.col-12
              span.font12-px.text-black-50 Nro de teléfono
              p +51 123 4567890
      .card.px-0
        // Card header
        #headingThree3.card-header(role='tab')
          a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree3' aria-expanded='false' aria-controls='collapseThree3')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | INFORMACIÓN PRÉSTAMO        
        // Card body
        #collapseThree3.collapse.mt-md-3(role='tabpanel' aria-labelledby='headingThree3' data-parent='#accordionEx').border-top
          .card-body.px-0.d-md-flex
            .col-md-4.col-6
              span.font12-px.text-black-50 Monto total
              p $250.000
            .col-md-4.col-6
              span.font12-px.text-black-50 Adelanto
              p $50.000
            .col-md-4.col-12
              span.font12-px.text-black-50 Plan de pago
              p 6 cuotas de $15.000
      .card.px-0
        // Card header
        #headingFour4.card-header(role='tab')
          a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseFour4' aria-expanded='false' aria-controls='collapseFour3')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | INFORMACIÓN EQUIPO           
        // Card body
        #collapseFour4.collapse.mt-md-3(role='tabpanel' aria-labelledby='headingFour4' data-parent='#accordionEx').border-top
          .card-body.px-0.d-md-flex
            .col-md-4.col-12
              span.font12-px.text-black-50 Equipo
              p Samsung Galaxy A80
            .col-md-4.col-12
              span.font12-px.text-black-50 IMEI
              p 12345678908975322
            .col-md-4.col-12
              span.font12-px.text-black-50
              p
block modal
  //- Central Modal Small
  #centralModalSm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0.pb-0
          h4#myModalLabel.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-md-5.px-3.text-muted
          .pb-3.border-bottom-m.mt-movil-modal-header
            h4.text-primary.mb-0 Pago de cuota <span class="cuotas">2 / 6</span>
          div.mt-md-5
            select.mdb-select.md-form.input-sm.my-0.mt-4
              option( selected='' disabled) Tipo de pago
              option(value='0') Deuda vencida
              option(value='1') Próxima cuota
              option(value='2') Total préstamo
              option(value='3') Otro Monto
          div.mt-5
            .md-form.my-4.input-simple
              label(for='password').ml-0.transform-fix-inputIngresa Monto a pagar
              input#password.form-control(type='text', name="text")
          div.d-md-flex.px-4(style="display: grid;").my-md-5.my-3
            button.btn.btn-outline-primary.btn-rounded.col-md-6.col-12.order-md-1.order-2 Cancelar
            button.btn.btn-primary.btn-rounded.col-md-6.col-12.order-md-2.order-1#confirmar Confirmar pago
  //- Central Modal Small
  #centralModalSm2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0.pb-0
          h4#myModalLabel2.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-md-5.px-3.text-muted
          .pb-3.border-bottom-m.mt-movil-modal-header
            h4.text-primary.mb-0  Pago de cuota <span class="cuotas">2 / 6</span>
          div.mt-3
            .d-md-flex.justify-content-md-start.justify-content-center(style='display: grid;')
              i.cm-check.font50-px.mb-2.mx-auto.mx-md-0
                span.path1
                span.path2
              h5.align-items-center.d-md-flex.ml-md-4.text-md-left.text-center Pago registrado
          div.mt-4
            .md-form.my-4.input-simple
              label(for='password').ml-0.transform-fix-inputIngresa Tipo de pago
              input.form-control.disabled.border-bottom-0(disabled="true" type='text', name="text" value="Deuda vencida")
            .md-form.my-4.input-simple
              label(for='password').ml-0.transform-fix-inputIngresa Monto pagado
              input.form-control.disabled.border-bottom-0(disabled="true" type='text', name="text" value="$100")
            
              
block boton_hover
  include layouts/components/_botton-hover
block script
  script(src="js/modal-init.js")

prestamo-state.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Esta es el panel de credimutos smartPhone"/>
    <meta name="author" content="Crediminuto SmartPhone"/>
    <title>DashBoard Crediminuto SmartPhone</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/dashboard/"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>
    <link rel="stylesheet" href="css/select2-bootstrap.css"/>
    <link rel="stylesheet" href="css/mdb.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="fonts-icons/css/crediminutos.css"/>
    <link rel="stylesheet" href="fonts-icons/cm-smartphone.css"/>
  </head>
  <body id="body">
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header"> <img src="img/logo.svg" alt=""/></div>
        <div class="d-block d-md-none border-bottom py-3">
          <div class="d-flex"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu&amp;rounded=true&amp;background=a0a0a0&amp;color=ffffff" alt=""/></div>
          <div class="my-auto ml-3">
            <p class="mb-0">Miguel Gorostarzu</p><a href="#" style="text-decoration: underline;">Cerrar sesion</a>
          </div>
        </div>
        <ul class="components">
          <li class="nav-item active"> <a class="nav-link" href="home.html"><i class="cm-casa font23-px"></i>Inicio <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="my-shop.html"><i class="cm-empresa font20-px"></i>Perfil de la tienda</a></li>
          <li class="nav-item"> <a class="nav-link" href="user-self.html"><i class="cm-agregar-usuario font23-px"></i>Pefil de usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="requests.html"><i class="cm-agregar-carro font23-px"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Solicitudes</a></li>
          <li class="nav-item"><a class="nav-link" href="reports.html"><i class="cm-reportes font23-px"></i>Reportes</a></li>
        </ul>
        <ul class="border-top list-group d-block d-md-none pt-3">
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Contacto</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Preguntas Frecuentes</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Blog</a></li>
        </ul>
        <div class="d-flex d-md-none row mx-3 my-5 gris-suave" style="font-size: 27px;"><i class="fab fa-facebook-f col"></i><i class="fab fa-instagram col"></i><i class="fab fa-youtube col"></i><i class="fab fa-twitter col"></i><i class="fab fa-linkedin-in col"></i></div>
      </nav>
      <div class="mb-5 mb-md-0" id="content">
        <nav class="navbar navbar-light">
          <button class="navbar-btn" id="sidebarCollapse" type="button"><span></span><span></span><span></span></button>
          <div class="d-inline-block d-lg-none ml-auto"><img class="isologo" src="img/isologo.svg" alt=""/></div>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown mr-5 d-none d-sm-none d-md-block"><a class="nav-link dropdown-toggle fontcolor-name sidebarCollapseNoti" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chevron-down my-auto mr-2"></i>Miguel Gorostarzu</a></li>
            <li class="nav-item"><a class="sidebarCollapseNoti" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="top: 15px; right: 7px; position: absolute;">3</span></a></li>
          </ul>
        </nav>
        <div id="panel-content">
          <section>
            <div class="text-center"><i class="cm-check font42-px mb-2"><span class="path1"></span><span class="path2"></span></i>
              <h4>Solicitudes activa</h4>
            </div>
            <div class="accordion md-accordion mt-md-4 col-md-10 mx-auto" id="accordionEx" role="tablist" aria-multiselectable="true">
              <div class="card px-0 d-md-flex">
                <!-- Card header-->
                <div class="card-header d-flex" id="headingOne1" role="tab"><a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                    <h6 class="mb-0 text-primary"><i class="fas fa-angle-right rotate-icon mr-3"></i>ESTADO DEL PRÉSTAMO</h6></a>
                  <div class="ml-auto"><a class="link-table"><img src="img/share.svg"/></a><a class="mx-3 link-table"><img src="img/print.svg"/></a><a class="link-table border-left pl-3"><img src="img/pago.svg"/></a></div>
                </div>
                <!-- Card body-->
                <div class="collapse show mt-md-3 border-top" id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                  <div class="card-body px-0 pt-1">
                    <div class="table-responsive-sm col-12 px-0">
                      <table class="table table-borderless mx-auto table-hover">
                        <thead class="border-bottom">
                          <tr class="text-muted">
                            <th> CUOTA</th>
                            <th> VTO.</th>
                            <th> MONTO CUOTA</th>
                            <th> PENDIENTE</th>
                            <th> ESTADO</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="text-muted">
                            <td scope="row">1 / 6</td>
                            <td> 12/04/21</td>
                            <td> $101.542</td>
                            <th> $0</th>
                            <td class="text-success d-flex align-items-center"><i class="fas fa-check-circle font23-px"></i><span class="ml-2">Pagado</span></td>
                          </tr>
                          <tr class="text-muted">
                            <td scope="row">2 / 6</td>
                            <td> 12/04/21</td>
                            <td> $101.542</td>
                            <th> $50.000</th>
                            <td class="text-primary d-flex align-items-center"><i class="fas fa-times-circle font23-px"></i><span class="ml-2">Vencida</span></td>
                          </tr>
                          <tr class="text-muted">
                            <td scope="row">3 / 6</td>
                            <td> 12/04/21</td>
                            <td> $101.542</td>
                            <th> $101.542</th>
                            <td class="text-warning d-flex align-items-center"><i class="fas fa-clock font23-px"></i><span class="ml-2">A vencer</span></td>
                          </tr>
                          <tr class="text-muted">
                            <td scope="row">4 / 6</td>
                            <td> 12/04/21</td>
                            <td> $101.542</td>
                            <th> $101.542</th>
                            <td class="text-warning d-flex align-items-center"><i class="fas fa-clock font23-px"></i><span class="ml-2">A vencer</span></td>
                          </tr>
                          <tr class="text-muted">
                            <td scope="row">5 / 6</td>
                            <td> 12/04/21</td>
                            <td> $101.542</td>
                            <th> $101.542</th>
                            <td class="text-warning d-flex align-items-center"><i class="fas fa-clock font23-px"></i><span class="ml-2">A vencer</span></td>
                          </tr>
                          <tr class="text-muted">
                            <td scope="row">6 / 6</td>
                            <td> 12/04/21</td>
                            <td> $101.542</td>
                            <th> $101.542</th>
                            <td class="text-warning d-flex align-items-center"><i class="fas fa-clock font23-px"></i><span class="ml-2">A vencer</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card px-0">
                <!-- Card header-->
                <div class="card-header" id="headingTwo2" role="tab"><a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    <h6 class="mb-0 text-primary"><i class="fas fa-angle-right rotate-icon mr-3"></i>INFORMACIÓN PERSONAL            </h6></a></div>
                <!-- Card body-->
                <div class="collapse mt-md-3 border-top" id="collapseTwo2" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                  <div class="card-body px-0 d-md-flex">
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50">Nombre y apellido</span>
                      <p>Miguel Gorostarzu</p>
                    </div>
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50">Cédula de ciudadanía</span>
                      <p>1234567890</p>
                    </div>
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50">Nro de teléfono</span>
                      <p>+51 123 4567890</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card px-0">
                <!-- Card header-->
                <div class="card-header" id="headingThree3" role="tab"><a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                    <h6 class="mb-0 text-primary"><i class="fas fa-angle-right rotate-icon mr-3"></i>INFORMACIÓN PRÉSTAMO        </h6></a></div>
                <!-- Card body-->
                <div class="collapse mt-md-3 border-top" id="collapseThree3" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                  <div class="card-body px-0 d-md-flex">
                    <div class="col-md-4 col-6"><span class="font12-px text-black-50">Monto total</span>
                      <p>$250.000</p>
                    </div>
                    <div class="col-md-4 col-6"><span class="font12-px text-black-50">Adelanto</span>
                      <p>$50.000</p>
                    </div>
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50">Plan de pago</span>
                      <p>6 cuotas de $15.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card px-0">
                <!-- Card header-->
                <div class="card-header" id="headingFour4" role="tab"><a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour3">
                    <h6 class="mb-0 text-primary"><i class="fas fa-angle-right rotate-icon mr-3"></i>INFORMACIÓN EQUIPO           </h6></a></div>
                <!-- Card body-->
                <div class="collapse mt-md-3 border-top" id="collapseFour4" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                  <div class="card-body px-0 d-md-flex">
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50">Equipo</span>
                      <p>Samsung Galaxy A80</p>
                    </div>
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50">IMEI</span>
                      <p>12345678908975322</p>
                    </div>
                    <div class="col-md-4 col-12"><span class="font12-px text-black-50"></span>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
    <nav id="sidebarNoti">
      <div class="sidebar-header">
        <ul class="nav ml-auto">
          <li class="nav-item ml-2 mr-5"><a class="mt-2" id="cerrar" href=""><i class="fal fa-times my-auto mr-2"></i>Miguel Gorostarzu</a></li>
          <li class="nav-item"><a id="cerrar" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="    margin-top: -1px;margin-left: -9px; position: absolute;">3</span></a></li>
        </ul>
      </div>
      <div class="d-none d-md-block" style="border-bottom: 1px solid #c0c1c9;">
        <div class="mt-4"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu%26rounded=true%26background=a0a0a0%26color=ffffff" alt=""/>
          <ul class="text-dark mt-3">
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Mi Perfil</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Cerrar sesión</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Contacto</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Preguntas frecuentes</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Blog</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom mb-0" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/check-verde-calendar.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-success" style="font-size: 15px;">Próximo vencimiento</h5><small>Estás próximo al venciemiento de la cuota 5 de tu préstamo, para pagar la misma hacé clic <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/error-rojo-calendario.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-primary" style="font-size: 15px;">Próximo bloqueo de celular</h5><small>Faltan 2 días para que bloqueemos tu celular por pagos pendientes. Más detalles <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
      </div>
    </nav><a class="botton-cm-hover" href="#"><i class="fal fa-plus"></i></a>
    <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0 pb-0">
            <h4 class="modal-title w-100" id="myModalLabel"></h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="text-muted" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body px-md-5 px-3 text-muted">
            <div class="pb-3 border-bottom-m mt-movil-modal-header">
              <h4 class="text-primary mb-0">Pago de cuota <span class="cuotas">2 / 6</span></h4>
            </div>
            <div class="mt-md-5">
              <select class="mdb-select md-form input-sm my-0 mt-4">
                <option selected="" disabled="disabled">Tipo de pago</option>
                <option value="0">Deuda vencida</option>
                <option value="1">Próxima cuota</option>
                <option value="2">Total préstamo</option>
                <option value="3">Otro Monto</option>
              </select>
            </div>
            <div class="mt-5">
              <div class="md-form my-4 input-simple">
                <label class="ml-0 transform-fix-inputIngresa" for="password">Monto a pagar</label>
                <input class="form-control" id="password" type="text" name="text"/>
              </div>
            </div>
            <div class="d-md-flex px-4 my-md-5 my-3" style="display: grid;">
              <button class="btn btn-outline-primary btn-rounded col-md-6 col-12 order-md-1 order-2">Cancelar</button>
              <button class="btn btn-primary btn-rounded col-md-6 col-12 order-md-2 order-1" id="confirmar">Confirmar pago</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="centralModalSm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0 pb-0">
            <h4 class="modal-title w-100" id="myModalLabel2"></h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="text-muted" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body px-md-5 px-3 text-muted">
            <div class="pb-3 border-bottom-m mt-movil-modal-header">
              <h4 class="text-primary mb-0"> Pago de cuota <span class="cuotas">2 / 6</span></h4>
            </div>
            <div class="mt-3">
              <div class="d-md-flex justify-content-md-start justify-content-center" style="display: grid;"><i class="cm-check font50-px mb-2 mx-auto mx-md-0"><span class="path1"></span><span class="path2"></span></i>
                <h5 class="align-items-center d-md-flex ml-md-4 text-md-left text-center">Pago registrado</h5>
              </div>
            </div>
            <div class="mt-4">
              <div class="md-form my-4 input-simple">
                <label class="ml-0 transform-fix-inputIngresa" for="password">Tipo de pago</label>
                <input class="form-control disabled border-bottom-0" disabled="true" type="text" name="text" value="Deuda vencida"/>
              </div>
              <div class="md-form my-4 input-simple">
                <label class="ml-0 transform-fix-inputIngresa" for="password">Monto pagado</label>
                <input class="form-control disabled border-bottom-0" disabled="true" type="text" name="text" value="$100"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/mdb.js"></script>
    <script src="js/action-menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".mdb-select").materialSelect();
      });
    </script>
    <script src="js/modal-init.js"></script>
  </body>
</html>
