register_2.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Esta es el panel de credimutos smartPhone"/>
    <meta name="author" content="Crediminuto SmartPhone"/>
    <title>DashBoard Crediminuto SmartPhone</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/dashboard/"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>
    <link rel="stylesheet" href="css/select2-bootstrap.css"/>
    <link rel="stylesheet" href="css/mdb.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="fonts-icons/css/crediminutos.css"/>
    <link rel="stylesheet" href="fonts-icons/cm-smartphone.css"/>
  </head>
  <body id="body">
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header"> <img src="img/logo.svg" alt=""/></div>
        <div class="d-block d-md-none border-bottom py-3">
          <div class="d-flex"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu&amp;rounded=true&amp;background=a0a0a0&amp;color=ffffff" alt=""/></div>
          <div class="my-auto ml-3">
            <p class="mb-0">Miguel Gorostarzu</p><a href="#" style="text-decoration: underline;">Cerrar sesion</a>
          </div>
        </div>
        <ul class="components">
          <li class="nav-item active"> <a class="nav-link" href="home.html"><i class="cm-casa font23-px"></i>Inicio <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="my-shop.html"><i class="cm-empresa font20-px"></i>Perfil de la tienda</a></li>
          <li class="nav-item"> <a class="nav-link" href="user-self.html"><i class="cm-agregar-usuario font23-px"></i>Pefil de usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="requests.html"><i class="cm-agregar-carro font23-px"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Solicitudes</a></li>
          <li class="nav-item"><a class="nav-link" href="reports.html"><i class="cm-reportes font23-px"></i>Reportes</a></li>
        </ul>
        <ul class="border-top list-group d-block d-md-none pt-3">
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Contacto</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Preguntas Frecuentes</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Blog</a></li>
        </ul>
        <div class="d-flex d-md-none row mx-3 my-5 gris-suave" style="font-size: 27px;"><i class="fab fa-facebook-f col"></i><i class="fab fa-instagram col"></i><i class="fab fa-youtube col"></i><i class="fab fa-twitter col"></i><i class="fab fa-linkedin-in col"></i></div>
      </nav>
      <div class="mb-5 mb-md-0" id="content">
        <nav class="navbar navbar-light">
          <button class="navbar-btn" id="sidebarCollapse" type="button"><span></span><span></span><span></span></button>
          <div class="d-inline-block d-lg-none ml-auto"><img class="isologo" src="img/isologo.svg" alt=""/></div>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown mr-5 d-none d-sm-none d-md-block"><a class="nav-link dropdown-toggle fontcolor-name sidebarCollapseNoti" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chevron-down my-auto mr-2"></i>Miguel Gorostarzu</a></li>
            <li class="nav-item"><a class="sidebarCollapseNoti" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="top: 15px; right: 7px; position: absolute;">3</span></a></li>
          </ul>
        </nav>
        <div id="panel-content">
          <section>
            <div class="text-center">
              <h4> Miguel Gorostarzu</h4>
            </div>
            <form>
              <div class="col-md-10 col-11 mx-auto">
                <div class="row">
                  <div class="md-form mt-5 col-md-6">
                    <input class="form-control" id="form1" type="text" name="direccion"/>
                    <label for="form1">Dirección</label>
                  </div>
                </div>
                <div class="border-bottom mt-4 mb-2 pb-3">
                  <h6 class="text-primary">DIRECCIÓN</h6>
                </div><span class="font12-px">Ingresa tu dirección a continuación, se mostraran las opciones que detecta Google Maps. </span>
                <div class="row d-md-flex">
                  <div class="input-group col-md-6 mb-2 mt-5 d-flex mb-5">
                    <div class="input-group-prepend col-md-1 col-2 px-0">
                      <div class="input-group-text border-right-0 ml-auto" style="background: none;"><i class="fas fa-home text-primary"></i></div>
                    </div>
                    <div class="col-md-11 col-10 px-0">
                      <input class="form-control form-control-lg py-0 border-left-0 js-example-basic-multiple" id="localizacion" type="text" name="localizacion" placeholder="Comodoro Rivadavia 177"/>
                    </div>
                  </div>
                  <div class="md-form my-5 col-md-6">
                    <input class="form-control" id="form1" type="text" name="Piso / Apartamento"/>
                    <label for="form1">Piso</label>
                  </div>
                </div>
              </div>
              <div class="col-md-10 col-11 mx-auto">
                <div class="border-bottom mt-4 mb-2 pb-3">
                  <h6 class="text-primary">CUENTA BANCARIA</h6>
                </div><span class="font12-px">Recibirás $15.000 por cada finaciación de CrediMinuto Smartphones, ingresa tus datos para recibir el pago.</span>
                <div class="row">
                  <div class="md-form my-5 col-md-6">
                    <input class="form-control" id="form1" type="text" name="banco"/>
                    <label for="form1">Banco</label>
                  </div>
                  <select class="mdb-select md-form mt-5 col-md-6 mx-auto" name="sucursal">
                    <option value="" disabled="" selected="">Tipo de cuenta</option>
                    <option value="1">Coorporativa</option>
                    <option value="2">Personal</option>
                    <option value="3">Otras</option>
                  </select>
                  <div class="md-form col-md-6">
                    <input class="form-control" id="form1" type="text" name="n_cuenta"/>
                    <label for="form1">Nro de Cuenta</label>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary col-md-6 mx-auto d-block mt-5"> Enviar alta</button>
            </form>
          </section>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
    <nav id="sidebarNoti">
      <div class="sidebar-header">
        <ul class="nav ml-auto">
          <li class="nav-item ml-2 mr-5"><a class="mt-2" id="cerrar" href=""><i class="fal fa-times my-auto mr-2"></i>Miguel Gorostarzu</a></li>
          <li class="nav-item"><a id="cerrar" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="    margin-top: -1px;margin-left: -9px; position: absolute;">3</span></a></li>
        </ul>
      </div>
      <div class="d-none d-md-block" style="border-bottom: 1px solid #c0c1c9;">
        <div class="mt-4"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu%26rounded=true%26background=a0a0a0%26color=ffffff" alt=""/>
          <ul class="text-dark mt-3">
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Mi Perfil</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Cerrar sesión</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Contacto</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Preguntas frecuentes</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Blog</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom mb-0" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/check-verde-calendar.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-success" style="font-size: 15px;">Próximo vencimiento</h5><small>Estás próximo al venciemiento de la cuota 5 de tu préstamo, para pagar la misma hacé clic <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/error-rojo-calendario.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-primary" style="font-size: 15px;">Próximo bloqueo de celular</h5><small>Faltan 2 días para que bloqueemos tu celular por pagos pendientes. Más detalles <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
      </div>
    </nav>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/mdb.js"></script>
    <script src="js/action-menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".mdb-select").materialSelect();
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>
    <script type="text/javascript">
      $('.js-example-basic-multiple').select2({
        width: 'resolve',
        maximumSelectionLength:1,
        dropdownAutoWidth: true,
        allowClear: false,
        multiple: true,
        maximumSelectionSize: 1,
        minimumInputLength:3,
        placeholder: "Comodoro Rivadavia 177",
        data: [
            { id: 1, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
            { id: 2, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
            { id: 3, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
        ] ,  
        templateResult: formatOption,
      }).on('select2:open',function(){
        $('.select2-dropdown--below').parent('span').addClass('desplegable');
      });
      function formatOption (option) {
        var $option = $(
        '<div class="d-flex align-items-start border-bottom pb-3"> <embed src="img/brujula.svg" class="icono-brujular"> <div class="ml-3"><p class="mb-0 font17-px"> ' + option.text + '</p><small>' + option.title + '</small></div></div>'
        );
        return $option;
      };
    </script>
  </body>
</html>

pug-project/register_2.pug
extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4  Miguel Gorostarzu
    form
      .col-md-10.col-11.mx-auto
        .row
          .md-form.mt-5.col-md-6
            input#form1.form-control(type='text', name="direccion")
            label(for='form1') Dirección
        .border-bottom.mt-4.mb-2.pb-3
          h6.text-primary DIRECCIÓN
        span.font12-px Ingresa tu dirección a continuación, se mostraran las opciones que detecta Google Maps. 
        .row.d-md-flex
          //- Direccion
          .input-group.col-md-6.mb-2.mt-5.d-flex.mb-5
            .input-group-prepend.col-md-1.col-2.px-0
              .input-group-text.border-right-0.ml-auto(style='background: none;')
                i.fas.fa-home.text-primary
            .col-md-11.col-10.px-0
              input#localizacion.form-control.form-control-lg.py-0.border-left-0.js-example-basic-multiple(type='text', name='localizacion', placeholder='Comodoro Rivadavia 177')
          .md-form.my-5.col-md-6
            input#form1.form-control(type='text', name="Piso / Apartamento")
            label(for='form1') Piso
      .col-md-10.col-11.mx-auto
        .border-bottom.mt-4.mb-2.pb-3
          h6.text-primary CUENTA BANCARIA
        span.font12-px Recibirás $15.000 por cada finaciación de CrediMinuto Smartphones, ingresa tus datos para recibir el pago.
        .row
          .md-form.my-5.col-md-6
            input#form1.form-control(type='text', name="banco")
            label(for='form1') Banco
          select.mdb-select.md-form.mt-5.col-md-6.mx-auto(name="sucursal")
            option(value='', disabled='', selected='') Tipo de cuenta
            option(value='1') Coorporativa
            option(value='2') Personal
            option(value='3') Otras
          .md-form.col-md-6
            input#form1.form-control(type='text', name="n_cuenta")
            label(for='form1') Nro de Cuenta
      button.btn.btn-primary.col-md-6.mx-auto.d-block.mt-5  Enviar alta
block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.full.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js")
  script(type = "text/javascript").
    $('.js-example-basic-multiple').select2({
      width: 'resolve',
      maximumSelectionLength:1,
      dropdownAutoWidth: true,
      allowClear: false,
      multiple: true,
      maximumSelectionSize: 1,
      minimumInputLength:3,
      placeholder: "Comodoro Rivadavia 177",
      data: [
          { id: 1, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
          { id: 2, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
          { id: 3, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
      ] ,  
      templateResult: formatOption,
    }).on('select2:open',function(){
      $('.select2-dropdown--below').parent('span').addClass('desplegable');
    });
    function formatOption (option) {
      var $option = $(
      '<div class="d-flex align-items-start border-bottom pb-3"> <embed src="img/brujula.svg" class="icono-brujular"> <div class="ml-3"><p class="mb-0 font17-px"> ' + option.text + '</p><small>' + option.title + '</small></div></div>'
      );
      return $option;
    };
