table.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Esta es el panel de credimutos smartPhone"/>
    <meta name="author" content="Crediminuto SmartPhone"/>
    <title>DashBoard Crediminuto SmartPhone</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/dashboard/"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>
    <link rel="stylesheet" href="css/select2-bootstrap.css"/>
    <link rel="stylesheet" href="css/mdb.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="fonts-icons/css/crediminutos.css"/>
    <link rel="stylesheet" href="fonts-icons/cm-smartphone.css"/>
  </head>
  <body id="body">
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header"> <img src="img/logo.svg" alt=""/></div>
        <div class="d-block d-md-none border-bottom py-3">
          <div class="d-flex"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu&amp;rounded=true&amp;background=a0a0a0&amp;color=ffffff" alt=""/></div>
          <div class="my-auto ml-3">
            <p class="mb-0">Miguel Gorostarzu</p><a href="#" style="text-decoration: underline;">Cerrar sesion</a>
          </div>
        </div>
        <ul class="components">
          <li class="nav-item active"> <a class="nav-link" href="home.html"><i class="cm-casa font23-px"></i>Inicio <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="my-shop.html"><i class="cm-empresa font20-px"></i>Perfil de la tienda</a></li>
          <li class="nav-item"> <a class="nav-link" href="user-self.html"><i class="cm-agregar-usuario font23-px"></i>Pefil de usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="requests.html"><i class="cm-agregar-carro font23-px"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Solicitudes</a></li>
          <li class="nav-item"><a class="nav-link" href="reports.html"><i class="cm-reportes font23-px"></i>Reportes</a></li>
        </ul>
        <ul class="border-top list-group d-block d-md-none pt-3">
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Contacto</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Preguntas Frecuentes</a></li>
          <li><a class="py-0 ml-3 ul-a-decoration" href="">Blog</a></li>
        </ul>
        <div class="d-flex d-md-none row mx-3 my-5 gris-suave" style="font-size: 27px;"><i class="fab fa-facebook-f col"></i><i class="fab fa-instagram col"></i><i class="fab fa-youtube col"></i><i class="fab fa-twitter col"></i><i class="fab fa-linkedin-in col"></i></div>
      </nav>
      <div class="mb-5 mb-md-0" id="content">
        <nav class="navbar navbar-light">
          <button class="navbar-btn" id="sidebarCollapse" type="button"><span></span><span></span><span></span></button>
          <div class="d-inline-block d-lg-none ml-auto"><img class="isologo" src="img/isologo.svg" alt=""/></div>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown mr-5 d-none d-sm-none d-md-block"><a class="nav-link dropdown-toggle fontcolor-name sidebarCollapseNoti" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chevron-down my-auto mr-2"></i>Miguel Gorostarzu</a></li>
            <li class="nav-item"><a class="sidebarCollapseNoti" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="top: 15px; right: 7px; position: absolute;">3</span></a></li>
          </ul>
        </nav>
        <div id="panel-content">
          <section class="my-5 container-md">
            <div class="text-center mb-md-4">
              <h4>Tabla de cuotas</h4>
            </div>
          </section>
          <section class="mb-5 d-md-block d-none">
            <div class="row col-md-10 mx-auto justify-content-center"> 
              <div class="btn-group" id="select-btn">
                <input class="btn-check btn-rounded" id="option1" type="radio" name="options" autocomplete="off"/>
                <label class="btn btn-outline-default btn-rounded px-5" for="option1">Frecuencia semanal </label>
                <input class="btn-check" id="option2" type="radio" name="options" autocomplete="off" checked=""/>
                <label class="btn btn-outline-default px-5 mx-5" for="option2">Frecuencia quincenal</label>
                <input class="btn-check" id="option3" type="radio" name="options" autocomplete="off"/>
                <label class="btn btn-outline-default px-5" for="option3">Frecuencia mensual </label>
              </div>
            </div>
            <div class="table-responsive-sm">
              <table class="table table-borderless mx-auto col-md-10 col-12 table-hover">
                <thead class="border-bottom text-muted"> 
                  <tr>
                    <th> EQUIPO Y PRECIO</th>
                    <th> INICIAL </th>
                    <th> 6 COUTAS </th>
                    <th> INICIAL</th>
                    <th> 3 CUOTAS </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="border-bottom">
                  <tr>
                    <td> Samsung A01 Core $380.000</td>
                    <td class="border-left"> $114.000</td>
                    <td> $83.994</td>
                    <td class="border-left"> $133.000</td>
                    <td> $132.196</td>
                    <td class="border-left"> <a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit.svg" alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg"/></a><a class="show-modal-table-delete" href="#"> <img class="ml-2 table-icon" src="img/icono-table-delete.svg" alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg"/></a></td>
                  </tr>
                  <tr>
                    <td> Samsung A01 $520.000</td>
                    <td class="border-left"> $114.000</td>
                    <td> $83.994</td>
                    <td class="border-left"> $133.000</td>
                    <td> $132.196</td>
                    <td class="border-left"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit.svg" alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg"/></a><a class="show-modal-table-delete" href="#"> <img class="ml-2 table-icon" src="img/icono-table-delete.svg" alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg"/></a></td>
                  </tr>
                  <tr>
                    <td> Samsung A01 $520.000</td>
                    <td class="border-left"> $114.000</td>
                    <td> $83.994</td>
                    <td class="border-left"> $133.000</td>
                    <td> $132.196</td>
                    <td class="border-left"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit.svg" alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg"/></a><a class="show-modal-table-delete" href="#"> <img class="ml-2 table-icon" src="img/icono-table-delete.svg" alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg"/></a></td>
                  </tr>
                  <tr>
                    <td> Samsung A01 $520.000</td>
                    <td class="border-left"> $114.000</td>
                    <td> $83.994</td>
                    <td class="border-left"> $133.000</td>
                    <td> $132.196</td>
                    <td class="border-left"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit.svg" alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg"/></a><a class="show-modal-table-delete" href="#"> <img class="ml-2 table-icon" src="img/icono-table-delete.svg" alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg"/></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="mb-5 d-md-none d-block">
            <select class="mdb-select md-form mt-5 col-6" name="sucursal">
              <option value="1">Semanal</option>
              <option value="2">Quincenal</option>
              <option value="3">Mensual</option>
            </select>
            <div class="md-accordion accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <div class="card border-top">
                <div class="card-header" id="acordion-1" role="tab"><a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-acordion-1" aria-expanded="true" aria-controls="collapse-acordion-1">
                    <h5 class="mb-0">Samsung A01 Core<i class="fas fa-angle-down rotate-icon"></i></h5></a></div>
                <div class="collapse" id="collapse-acordion-1" role="tabpanel" aria-labelledby="acordion-1">
                  <div class="card-body"><span>Precio  <span class="font-weight-bold">$380.000</span></span>
                    <table class="mt-3" style="width:100%;">
                      <tr>
                        <th> 6 cuotas</th>
                        <th> </th>
                        <th> 3 cuotas</th>
                        <th> </th>
                      </tr>
                      <tr> 
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                      </tr>
                      <tr> 
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                      </tr>
                    </table>
                    <div class="mt-3"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit-m.svg" alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg"/></a><a class="show-modal-table-delete" href="#"><img class="ml-2 table-icon" src="img/icono-table-delete-m.svg" alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg"/></a></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="acordion-2" role="tab"><a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-acordion-2" aria-expanded="true" aria-controls="collapse-acordion-2">
                    <h5 class="mb-0">Samsung A01 Core<i class="fas fa-angle-down rotate-icon"></i></h5></a></div>
                <div class="collapse" id="collapse-acordion-2" role="tabpanel" aria-labelledby="acordion-2">
                  <div class="card-body"><span>Precio  <span class="font-weight-bold">$380.000</span></span>
                    <table class="mt-3" style="width:100%;">
                      <tr>
                        <th> 6 cuotas</th>
                        <th></th>
                        <th> 3 cuotas</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                      </tr>
                      <tr>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                      </tr>
                    </table>
                    <div class="mt-3"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit-m.svg" alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg"/></a><a class="show-modal-table-delete" href="#"><img class="ml-2 table-icon" src="img/icono-table-delete-m.svg" alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg"/></a></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="acordion-3" role="tab"><a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-acordion-3" aria-expanded="true" aria-controls="collapse-acordion-3">
                    <h5 class="mb-0">Samsung A01 Core<i class="fas fa-angle-down rotate-icon"></i></h5></a></div>
                <div class="collapse" id="collapse-acordion-3" role="tabpanel" aria-labelledby="acordion-3">
                  <div class="card-body"><span>Precio  <span class="font-weight-bold">$380.000</span></span>
                    <table class="mt-3" style="width:100%;">
                      <tr>
                        <th> 6 cuotas</th>
                        <th></th>
                        <th> 3 cuotas</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                      </tr>
                      <tr>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                      </tr>
                    </table>
                    <div class="mt-3"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit-m.svg" alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg"/></a><a class="show-modal-table-delete" href="#"><img class="ml-2 table-icon" src="img/icono-table-delete-m.svg" alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg"/></a></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="acordion-4" role="tab"><a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-acordion-4" aria-expanded="true" aria-controls="collapse-acordion-4">
                    <h5 class="mb-0">Samsung A01 Core<i class="fas fa-angle-down rotate-icon"></i></h5></a></div>
                <div class="collapse" id="collapse-acordion-4" role="tabpanel" aria-labelledby="acordion-4">
                  <div class="card-body"><span>Precio  <span class="font-weight-bold">$380.000</span></span>
                    <table class="mt-3" style="width:100%;">
                      <tr>
                        <th> 6 cuotas</th>
                        <th></th>
                        <th> 3 cuotas</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                      </tr>
                      <tr>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                      </tr>
                    </table>
                    <div class="mt-3"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit-m.svg" alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg"/></a><a class="show-modal-table-delete" href="#"><img class="ml-2 table-icon" src="img/icono-table-delete-m.svg" alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg"/></a></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="acordion-5" role="tab"><a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-acordion-5" aria-expanded="true" aria-controls="collapse-acordion-5">
                    <h5 class="mb-0">Samsung A01 Core<i class="fas fa-angle-down rotate-icon"></i></h5></a></div>
                <div class="collapse" id="collapse-acordion-5" role="tabpanel" aria-labelledby="acordion-5">
                  <div class="card-body"><span>Precio  <span class="font-weight-bold">$380.000</span></span>
                    <table class="mt-3" style="width:100%;">
                      <tr>
                        <th> 6 cuotas</th>
                        <th></th>
                        <th> 3 cuotas</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                        <th> Inicial</th>
                        <td class="font-weight-bold"> $114.000</td>
                      </tr>
                      <tr>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                        <th> Cuota</th>
                        <td class="font-weight-bold"> $83.994</td>
                      </tr>
                    </table>
                    <div class="mt-3"><a class="show-modal-table-edit" href="#"><img class="table-icon" src="img/icono-table-edit-m.svg" alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg"/></a><a class="show-modal-table-delete" href="#"><img class="ml-2 table-icon" src="img/icono-table-delete-m.svg" alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg"/></a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="col-md-10 col-11 mx-auto mt-5 justify-content-md-end justify-content-start d-flex"><a class="botton-cm mr-md-auto show-modal-table" href="#"><i class="fal fa-plus"></i></a><a class="align-items-center d-flex" href="#"><i class="cm-flecha-abajo-rojo mr-3"></i>
                <p class="text-primary mb-0"> Descargar PDF</p></a></div>
          </section>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
    <nav id="sidebarNoti">
      <div class="sidebar-header">
        <ul class="nav ml-auto">
          <li class="nav-item ml-2 mr-5"><a class="mt-2" id="cerrar" href=""><i class="fal fa-times my-auto mr-2"></i>Miguel Gorostarzu</a></li>
          <li class="nav-item"><a id="cerrar" href=""><i class="fas fa-bell font40-px"></i><span class="badge red" style="    margin-top: -1px;margin-left: -9px; position: absolute;">3</span></a></li>
        </ul>
      </div>
      <div class="d-none d-md-block" style="border-bottom: 1px solid #c0c1c9;">
        <div class="mt-4"><img class="rounded-circle ml-4" src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu%26rounded=true%26background=a0a0a0%26color=ffffff" alt=""/>
          <ul class="text-dark mt-3">
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Mi Perfil</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Cerrar sesión</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Contacto</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Preguntas frecuentes</a></li>
            <li><a class="p-0" href="#"><small><i class="far fa-chevron-right mr-2"></i></small>Blog</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom mb-0" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/check-verde-calendar.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-success" style="font-size: 15px;">Próximo vencimiento</h5><small>Estás próximo al venciemiento de la cuota 5 de tu préstamo, para pagar la misma hacé clic <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="alert text-dark alert-dismissible fade show mx-auto col-md-12 col-11 py-2 border-bottom" role="alert">
          <div class="d-flex"><img class="mr-3" src="img/error-rojo-calendario.svg" alt="" style="width: 25px;margin-top: -45px;"/>
            <div>
              <h5 class="my-auto text-primary" style="font-size: 15px;">Próximo bloqueo de celular</h5><small>Faltan 2 días para que bloqueemos tu celular por pagos pendientes. Más detalles <a href="">
                  <u>aquí</u></a></small>
            </div>
          </div>
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="centralTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h4 class="modal-title w-100" id="myModalLabel"></h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="text-muted" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body px-5 text-muted">
            <div class="border-bottom pb-3">
              <h3 class="text-primary mb-0"> Agregar equipo</h3>
            </div>
            <div class="mt-3">
              <select class="mdb-select md-form mt-5 col-12" name="sucursal">
                <option value="" selected="select">Seleccione el equipo</option>
                <option value="1">Equipo 1</option>
                <option value="2">Equipo 2</option>
                <option value="3">Equipo 3</option>
              </select>
            </div>
            <div class="md-form my-5 col-12 mx-auto">
              <input class="form-control" id="form1" type="text" name="valor"/>
              <label for="form1">Ingrese el valor del equipo</label>
            </div>
            <button class="btn btn-primary col-12 mx-auto d-block">Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="centralTable2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h4 class="modal-title w-100" id="myModalLabel2"></h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="text-muted" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body px-5 text-muted">
            <div class="border-bottom pb-3">
              <h3 class="text-primary mb-0"> Editar equipo</h3>
            </div>
            <div class="mt-3">
              <select class="mdb-select md-form mt-5 col-12" name="sucursal">
                <option value="" selected="select">Seleccione el equipo</option>
                <option value="1">Equipo 1</option>
                <option value="2">Equipo 2</option>
                <option value="3">Equipo 3</option>
              </select>
            </div>
            <div class="md-form my-5 col-12 mx-auto">
              <input class="form-control" id="form2" type="text" name="valor"/>
              <label for="form1">Ingrese el valor del equipo</label>
            </div>
            <button class="btn btn-primary col-12 mx-auto d-block">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="centralTable3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h4 class="modal-title w-100" id="myModalLabel3"></h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="text-muted" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body px-md-5 px-3 text-muted">
            <div class="pb-3">
              <h3 class="text-primary mb-0 text-center"> ¿Seguro deseas eliminar el equipo de la tabla de cuotas?</h3>
            </div>
            <div class="mt-3 d-flex justify-content-center">
              <button class="btn btn-primary col-md-5 d-block">Si, eliminar</button>
              <button class="btn btn-outline-primary col-md-5 d-block">Por ahora no</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/mdb.js"></script>
    <script src="js/action-menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".mdb-select").materialSelect();
      });
    </script>
    <script>
      $('.show-modal-table').on('click',function (){
        $('#centralTable').modal('show');
      });
      $('.show-modal-table-edit').on('click', function () {
        $('#centralTable2').modal('show');
      });
      $('.show-modal-table-delete').on('click', function () {
        $('#centralTable3').modal('show');
      });
    </script>
  </body>
</html>

pug-project/table.pug
extends layouts/_panel.pug
block content
  #panel-content
    section.my-5.container-md
      .text-center.mb-md-4
        h4 Tabla de cuotas
    //- Alternar estas secciones de acuerdo al dispositivo cliente ;-) Esto con blade quedaria perfecto
    //- Seccion desktop    
    section.mb-5.d-md-block.d-none
      .row.col-md-10.mx-auto.justify-content-center 
        .btn-group#select-btn
          input#option1.btn-check.btn-rounded(type='radio' name='options' autocomplete='off')
          label.btn.btn-outline-default.btn-rounded.px-5(for='option1') Frecuencia semanal 
          
          input#option2.btn-check(type='radio' name='options' autocomplete='off' checked='')
          label.btn.btn-outline-default.px-5.mx-5(for='option2') Frecuencia quincenal
          
          input#option3.btn-check(type='radio' name='options' autocomplete='off')
          label.btn.btn-outline-default.px-5(for='option3') Frecuencia mensual 

      .table-responsive-sm
        table.table.table-borderless.mx-auto.col-md-10.col-12.table-hover
          thead.border-bottom.text-muted 
            tr
              th  EQUIPO Y PRECIO
              th  INICIAL 
              th  6 COUTAS 
              th  INICIAL
              th  3 CUOTAS 
              th
          tbody.border-bottom
            tr
              td  Samsung A01 Core $380.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left 
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon 
            tr
              td  Samsung A01 $520.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon 
            tr
              td  Samsung A01 $520.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon
            tr
              td  Samsung A01 $520.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon 
           
    //- Seccion Movil
    section.mb-5.d-md-none.d-block
      select.mdb-select.md-form.mt-5.col-6(name="sucursal")
        option(value='1') Semanal
        option(value='2') Quincenal
        option(value='3') Mensual
      #accordionEx.md-accordion.accordion(role='tablist' aria-multiselectable='true')
        .card.border-top
          #acordion-1.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-1' aria-expanded='true' aria-controls='collapse-acordion-1')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-1.collapse(role='tabpanel' aria-labelledby='acordion-1')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th  
                  th  3 cuotas
                  th  
                tr  
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr  
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-2.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-2' aria-expanded='true' aria-controls='collapse-acordion-2')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-2.collapse(role='tabpanel' aria-labelledby='acordion-2')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-3.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-3' aria-expanded='true' aria-controls='collapse-acordion-3')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-3.collapse(role='tabpanel' aria-labelledby='acordion-3')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-4.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-4' aria-expanded='true' aria-controls='collapse-acordion-4')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-4.collapse(role='tabpanel' aria-labelledby='acordion-4')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-5.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-5' aria-expanded='true' aria-controls='collapse-acordion-5')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-5.collapse(role='tabpanel' aria-labelledby='acordion-5')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
                                                                                                                        
    section
      .col-md-10.col-11.mx-auto.mt-5.justify-content-md-end.justify-content-start.d-flex
        a.botton-cm.mr-md-auto(href="#").show-modal-table
          i.fal.fa-plus
        a.align-items-center.d-flex(href="#")
          i.cm-flecha-abajo-rojo.mr-3
          p.text-primary.mb-0  Descargar PDF
block modal
  //- Agregar equipo modal
  #centralTable.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-5.text-muted
          .border-bottom.pb-3
            h3.text-primary.mb-0  Agregar equipo
          div.mt-3
            select.mdb-select.md-form.mt-5.col-12(name="sucursal")
              option(value='' selected="select") Seleccione el equipo
              option(value='1') Equipo 1
              option(value='2') Equipo 2
              option(value='3') Equipo 3
          .md-form.my-5.col-12.mx-auto
            input#form1.form-control(type='text', name="valor")
            label(for='form1') Ingrese el valor del equipo
          button.btn.btn-primary.col-12.mx-auto.d-block Agregar
  //- Editar equipo modal
  #centralTable2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel2', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel2.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-5.text-muted
          .border-bottom.pb-3
            h3.text-primary.mb-0  Editar equipo
          div.mt-3
            select.mdb-select.md-form.mt-5.col-12(name="sucursal")
              option(value='' selected="select") Seleccione el equipo
              option(value='1') Equipo 1
              option(value='2') Equipo 2
              option(value='3') Equipo 3
          .md-form.my-5.col-12.mx-auto
            input#form2.form-control(type='text', name="valor")
            label(for='form1') Ingrese el valor del equipo
          button.btn.btn-primary.col-12.mx-auto.d-block Guardar cambios
  //- Eliminar equipo modal
  #centralTable3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel3', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel3.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-md-5.px-3.text-muted
          .pb-3
            h3.text-primary.mb-0.text-center  ¿Seguro deseas eliminar el equipo de la tabla de cuotas?
          div.mt-3.d-flex.justify-content-center
            button.btn.btn-primary.col-md-5.d-block Si, eliminar
            button.btn.btn-outline-primary.col-md-5.d-block Por ahora no
block script
  script.
    $('.show-modal-table').on('click',function (){
      $('#centralTable').modal('show');
    });
    $('.show-modal-table-edit').on('click', function () {
      $('#centralTable2').modal('show');
    });
    $('.show-modal-table-delete').on('click', function () {
      $('#centralTable3').modal('show');
    });
    
